// colors
$color-preview-background = #e7e9ec
$color-preview-header = #2c3e50
$color-avatar-border = #bdbdbd
$color-label = #40586c
$color-edit-heading = #3a4f62
$color-submit-button = #45aae0
$color-submit-button-border = #3291c2
$color-button = #768e9c
$color-button-border = #4c5f6a
$color-white = #fff
$color-grey-40 = #a7a7a7
$color-grey-30 =  #b3bfc0
$color-grey-20 = #c3c4c3
$color-grey-10 = #e2e6e8
$color-white = #fff

// application responsive breakpoint (when to go 'tube of content')
$grid-float-breakpoint = 980px

// extends
$truncate
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
